<!-- home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home - Biolingo</title>
</head>

<body>
    <div class="main-content">
        <!-- Header Section -->
        <header class="header">
            <div class="logo">
                <span class="logo-green">Immun</span><span class="logo-purple">IQ</span>
            </div>
            <div class="user-icon">
                <img src="/static/user_icon.png" alt="User Icon">
            </div>
        </header>

        <div class="main-content" style="display: flex; justify-content: space-between; padding: 40px; width: 100%;">
            <!-- Character Section -->
            <div class="character-section">
                <img src="/static/Avatar.png" alt="Character">
            </div>

            <!-- Chapter Progress Section -->
            <div class="chapter-progress">
                <!-- Chapter Steps -->
                <div class="chapter-steps">
                    <!-- Step 1: Defense mechanism and immune system -->
                    <div class="step step-1">
                        <a href="{{ url_for('lesson.lesson_route', kc='1.1') }}">
                            <img src="{% if '1.1' in completed_kcs %}/static/checked_circle.png{% else %}/static/play_circle.png{% endif %}" alt="Step 1">
                            <p>Defense mechanism and immune system</p>
                        </a>
                    </div>

                    <!-- Step 2: Infection and Sickness -->
                    <div class="step step-2">
                        <a href="{% if '1.1' in completed_kcs %}{{ url_for('lesson.lessons_by_kc', kc='1.2') }}{% else %}#{% endif %}">
                            <img src="{% if '1.2' in completed_kcs %}/static/checked_circle.png{% elif '1.1' in completed_kcs %}/static/play_circle.png{% else %}/static/disabled_circle.png{% endif %}" alt="Step 2">
                            <p>Infection and Sickness</p>
                        </a>
                    </div>


                    <!-- Step 3: Pathogens -->
                    <div class="step step-3">
                        <a href="{% if '1.2' in completed_kcs %}{{ url_for('lesson.lesson_route', kc='1.3') }}{% else %}#{% endif %}">
                            <img src="{% if '1.3' in completed_kcs %}/static/checked_circle.png{% elif '1.2' in completed_kcs %}/static/play_circle.png{% else %}/static/disabled_circle.png{% endif %}" alt="Step 3">
                            <p>Pathogens</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
