<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Biolingo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <span class="logo-green">bio</span><span class="logo-purple">lingo</span>
            </div>
        </header>
        <div class="start-card">
            <div class="start-message">
                <h2>Hi, welcome to biolingo!</h2>
                <p>So you want to learn more about the immune system! That’s great.<br><br>
                To determine the best teaching method for you, we need to know if you already understand some subjects. So let’s start with a pretest!</p>
            </div>
            <img src="/static/avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="assesment-section">
            <h2>What do you already know?</h2>
            <div class="assesment-buttons">
                <button class="assessment-button" onclick="window.location.href='/prequiz'">I have some basic knowledge</button>
                <button class="assesment-button" onclick="window.location.href='/pre_quiz?level=none'">I don’t know anything</button>
            </div>
        </div>
    </div>
</body>
</html>
